        /* Fondo de Playa */
        body {
            background: url('https://images.unsplash.com/photo-1567154424-3e11d5d03e76') no-repeat center center fixed;
            background-size: cover;
            color: #333;
        }

        /* Encabezado */
        header {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }



        header h1 {
            font-size: 2.5rem;
            color: #2c3e50;
        }

        header p.lead {
            font-size: 1.25rem;
            color: #34495e;
        }

        /* Secciones */
        section {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 30px;
            border-radius: 10px;
            margin-bottom: 30px;
        }

        section h2 {
            font-size: 2rem;
            margin-bottom: 20px;
            color: #2980b9;
        }

        section p, section ul {
            font-size: 1rem;
            color: #555;
        }

        section ul {
            list-style: none;
            padding: 0;
        }

        section ul li {
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
        }



        .custom-carousel-image {
            border-radius: 10px;
        }

        .gallery img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .gallery .gallery-item {
            margin-bottom: 15px;
        }

        /* Mapa */
        .map iframe {
            border: none;
            border-radius: 10px;
        }